<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <link rel="stylesheet" href="./static/css/styles.css"/>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.1/MotionPathPlugin.min.js"></script>
  </head>
  <body>
    <div class="navbar-container">
        <nav class="nav-title">Esha Ahsan</nav>
        <button class="hamburger-menu" id="hamburger-menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="menu-links" id="menu-links">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
        </div>
    </div>
    <div class="brown-line"></div>
    <canvas id="third-canvas" width="1160" height="750"></canvas>
    <div class="brown-bottom"></div>
    <div class="string"></div>
    <div class="about-container">
        <div id="intro">Hi!I'm Esha Ahsan!</div>
        <div id="intro-ss">I am a Web Developer and Frontend Developer with a passion for blending art and technology to create visually stunning and user-friendly websites. My work lies at the intersection of creativity and functionality, where design meets code.For me, the web is more than just a medium—it's a canvas where art and innovation come together to tell a story!</div>
    </div>
    <script src="./static/scripts.js"></script>
  </body>
</html>